.wrapper{
    /*width: 100vw;*/
    /*height: 100vh;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    flex-wrap: wrap;
    margin: 50px;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}

.btn{
    color: white;
    background: blue;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-right: 10px;
}