
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000 !important;
    display: flex;
    justify-content: center;
    padding: 15px;
    overflow: hidden;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    background: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 40px 20px;
}

.form__title {
    font-weight: 700;
    font-size: 42px;
    text-align: left;
    line-height: 100%;
    margin: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: none;
    background-size: 200%;
    font-size: 1.2rem;
    cursor: pointer;
    width: 79%;
}

.btn_come {
    background-color: blue;
    color: #fff;
}

.btn_come:hover {
    background-color: #5959d6;
}
